@font-face {
  font-family: "Neutrif Studio";
  src: url("/fonts/Neutrif\ Studio\ Regular.otf") format("truetype");
}

@font-face {
  font-family: "Neutrif Pro";
  src: url("/fonts/Basier\ Circle\ Regular.otf") format("truetype");
}
@font-face {
  font-family: "Neutrif Pro";
  src: url("/fonts/Basier\ Circle\ Bold.otf") format("truetype");
}
:root {
  --main-color: #f5b9a1;
  --transition: all 0.4s ease;
  --main-blue: #021135;
  --main-grey: #f2f2f2;
  --main-black: #0a0d16;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Basier Circle", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
/* loader */
.loader {
  width: 100px;
  height: 100px;
  margin: 50% auto;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 25px;
  border: 1px solid var(--main-color);
}
.loader .loader-inner {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}
.loader .loading {
  position: absolute;
  background: var(--main-color);
}
.loader .one {
  width: 100%;
  bottom: 0;
  height: 0;
  animation: loading-one 1s infinite;
}
.loader .two {
  width: 0;
  height: 100%;
  left: 0;
  animation: loading-two 1s infinite;
  animation-delay: 0.25s;
}
.loader .three {
  width: 0;
  height: 100%;
  right: 0;
  animation: loading-two 1s infinite;
  animation-delay: 0.75s;
}
.loader .four {
  width: 100%;
  top: 0;
  height: 0;
  animation: loading-one 1s infinite;
  animation-delay: 0.5s;
}
@keyframes loading-one {
  0% {
    height: 0;
    opacity: 1;
  }
  12.5% {
    height: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes loading-two {
  0% {
    width: 0;
    opacity: 1;
  }
  12.5% {
    width: 100%;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes rotate-loader {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-315deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
#loadPage {
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-blue);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.loading-complete {
  opacity: 0;
  pointer-events: none;
}
#loader path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
@media (max-width: 500px) {
  svg#loader {
    width: 200px;
  }
}
/* end of loader */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
/* universal classes */
.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.8rem;
  color: var(--main-blue);
}
.text-main {
  color: var(--main-color);
  line-height: inherit;
}
section {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
}
.heading {
  font-weight: bold;
  font-size: 64px;
  line-height: 95%;
  color: var(--main-blue);
  margin-bottom: 3rem;
  font-family: "Basier Circle", sans-serif;
}
.sub-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 2rem;
  color: var(--main-black);
  font-family: "Basier Circle", sans-serif;
}
.paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-blue) !important;
  margin-bottom: 2rem;
  font-family: "Basier Circle", sans-serif;
}
/* nav */
header {
  width: 100%;
}
nav {
  width: 90%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--main-grey);
}
nav .logo {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--main-color);
}
nav .logo a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

nav .logo a:hover {
  color: var(--main-grey);
}
/* hero */
.hero {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-image {
  width: 100%;
}
.hero-image img {
  width: 100%;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-text .paragraph {
  width: 90%;
  align-self: flex-start;
}

.hero-text form {
  width: 90%;
  display: flex;
  align-self: flex-start;
}
.hero form input {
  padding: 1rem 0.5rem;
  background-color: var(--main-grey);
  border-style: none;
  flex-grow: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1rem;
  color: var(--main-blue);
}
.hero form input:focus {
  outline: none;
}
.hero-btn {
  padding: 1.5rem 1rem;
  height: 100%;
}

.btn {
  border-style: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  text-transform: uppercase;
  color: var(--main-blue);
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  color: var(--main-grey);
}
@media (max-width: 1245px) {
  .hero {
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .hero-image {
    width: 50%;
    margin: 0 auto;
  }
  .hero-text {
    width: 80%;
  }
}
@media (max-width: 875px) {
  .hero-text {
    width: 90%;
  }
}
@media (max-width: 715px) {
  .hero-text {
    width: 100%;
  }
}
@media (max-width: 645px) {
  .btn {
    font-size: 16px;
  }
  .hero-btn {
    padding: 1rem 0.5rem;
  }
  .hero-text form {
    margin-top: 3rem;
  }
}
@media (max-width: 595px) {
  .hero form {
    width: 100%;
  }
  .hero-btn {
    font-size: 14px;
  }
  .hero-text form input {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .hero-btn {
    font-size: 12px;
  }
  .hero-text form input {
    font-size: 12px;
  }
  .hero {
    margin-top: 3rem;
  }
}

/* Design */
.design {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  overflow: hidden;
}
.design-image {
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.design-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.design-image img:hover {
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
}
.design-text {
  padding-left: 2rem;
  padding-top: 2rem;
  flex: 1;
}
.design-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
}
@media (max-width: 915px) {
  .design {
    flex-direction: column;
  }
  .design-text {
    padding: 2rem 0;
  }
  .design-image {
    height: 400px;
  }
}

/* featured */
.featured {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.feat-image {
  flex: 1;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}
.feat-image img {
  width: 80%;
  height: 90%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  cursor: pointer;
}
.feat-image img:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
}
.feat-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.brands {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.brands img {
  opacity: 0.5 !important;
}
@media (max-width: 825px) {
  .featured {
    flex-direction: column;
  }
  .feat-image {
    text-align: center;
  }
  .brands {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 525px) {
  .brands {
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
  }
  .brands img {
    margin-bottom: 2rem;
  }
}

/* app preview */
.app-preview {
  text-align: center;
  position: relative;
  width: 100%;
  background: #ffeedb;
  padding: 2rem;
}
.app-preview > p {
  width: 50%;
  margin: 0 auto;
}
.app-preview .heading {
  margin-bottom: 3rem;
  font-family: "Neutrif Studio", sans-serif;
}
.previews {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
}
.preview {
  overflow: hidden;
}
.preview-image {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 3rem;
}
.preview img {
  width: 80%;
  height: 80%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  cursor: pointer;
}
.preview img:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
}
.preview-text .sub-heading {
  margin-bottom: 2rem;
}
.preview-text p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media (max-width: 770px) {
  .previews {
    grid-row-gap: 2rem;
  }
}
@media (max-width: 425px) {
  .previews {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .preview-text p {
    width: 100%;
  }
}
@media (max-width: 385px) {
  .previews {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}
/* modal */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  pointer-events: none;
}
.modal.open {
  opacity: 1;
  pointer-events: visible;
  z-index: 99;
}
.modal-box {
  height: 100%;
  padding-top: 1rem;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.modal-box p {
  color: var(--main-grey);
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}
.modal img {
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

@media (max-width: 1000px) {
  .modal-box {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .modal-box {
    width: 55%;
  }
}
@media (max-width: 515px) {
  .modal-box {
    width: 60%;
    height: 80%;
  }
}

/* other previews */
.other-previews {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 4rem;
}
.other-image {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.other-image img {
  width: 80%;
  height: 80%;
  margin: auto 0;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.other-image img:hover {
  transform: scale(1.05) !important;
  -webkit-transform: scale(1.05) !important;
}
.other-text {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 745px) {
  .other-text {
    width: 80%;
  }
  .other-image {
    width: 60%;
  }
}
@media (max-width: 545px) {
  .other-previews {
    flex-direction: column;
  }
  .other-text {
    width: 90%;
  }
}
@media (max-width: 345px) {
  .other-text {
    width: 100%;
  }
}
/* coming-soon */
.coming-soon {
  text-align: center;
  margin-top: 2rem;
}
.store-links {
  margin-bottom: 4rem;
}
.store-links img {
  margin: 0 1rem;
}

@media (max-width: 515px) {
  .store-links img {
    margin-bottom: 1rem;
  }
  .store-links {
    margin-bottom: 1rem;
  }
}

/* red */
.red {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 0;
  background: #e23142;
}
.red-image {
  flex: 1;
}
.red-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  flex: 1;
}
.red .heading {
  color: #fafbff;
}

@media (max-width: 875px) {
  .red-text {
    padding: 0;
  }
  .red-image img {
    width: 100%;
  }
}

/* subscribe */
.subscribe {
  text-align: center;
  margin-bottom: 4rem;
}
.subscribe .heading {
  margin-bottom: 1rem;
}
.subscribe p {
  width: 55%;
  margin: 0 auto;
}
.subscribe form {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe form input {
  padding: 1rem 0.5rem;
  background-color: var(--main-grey);
  border-style: none;
  flex-grow: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1rem;
  color: var(--main-blue);
}
.subscribe form input:focus {
  outline: none;
}
.sub-btn {
  padding: 1rem 0.5rem;
  height: 100%;
}

@media (max-width: 1075px) {
  .subscribe form {
    width: 70%;
  }
}
@media (max-width: 775px) {
  .subscribe p {
    width: 85%;
  }
  .subscribe form {
    width: 90%;
  }
  .subscribe .heading {
    margin-bottom: 2rem;
  }
}
@media (max-width: 595px) {
  .subscribe p {
    width: 95%;
  }
  .subscribe form {
    width: 100%;
  }
  .subscribe form input {
    font-size: 12px;
  }
  .sub-btn {
    font-size: 12px;
  }
}
/* footer */
.line {
  border-top: 2px solid var(--main-blue);
  margin-bottom: 1rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2rem;
  overflow-x: hidden;
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.footer-social {
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.footer-social:hover {
  color: var(--main-color);
}

/* general media query */
@media (max-width: 515px) {
  .heading {
    font-size: 46px;
  }
  .paragraph {
    font-size: 16px;
  }

  .sub-heading {
    font-size: 28px;
  }
}

/* iphone5s/se and other small screen phones */
@media (max-width: 325px) {
  .heading {
    font-size: 38px;
  }
  .paragraph {
    font-size: 14px;
  }
  .sub-heading {
    font-size: 22px;
  }
  .btn {
    font-size: 10px;
  }
  form input {
    font-size: 10px;
  }
  .sub-btn {
    padding: 0.3rem 0.2rem;
  }
  .previews {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
